body,html {
  display: grid;
  background: linear-gradient(to bottom, white, #c6d2df 20% 100%);
  font-family: "Roboto", sans-serif;
  
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  font-family: "Roboto";
}
span {
  font-weight: 300;
  font-family: "Roboto";
}
strong,
h2 {
  font-weight: 600;
  font-family: "Roboto";
}
.toasting {
  border-radius: 5px !important;
  padding: 20px !important;
  font-size: 1.2rem !important;
  font-weight: 300 !important;
  box-shadow: 0 0 0.5em #485461 !important;
}
.no-user-select {
  user-select: none;
}